
<!DOCTYPE html>
<html>
<head>
	<title>fancyBox - Fancy jQuery Lightbox Alternative | Demonstration</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	
    
    
</head>
<body>

<img id="Image-Maps-Com-image-maps-2015-05-20-054940" src="http://www.image-maps.com/m/private/0/5h1ii8bjnahqa3bch5j67jne16_happyhourmap.png" border="0" width="698" height="452" orgWidth="698" orgHeight="452" usemap="#image-maps-2015-05-20-054940" alt="" />
<map name="image-maps-2015-05-20-054940" id="ImageMapsCom-image-maps-2015-05-20-054940">
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="65,179,166,267" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="167,204,281,313" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="167,339,281,405" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="282,202,398,268" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="283,317,397,381" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="399,202,501,313" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="399,338,503,404" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="504,179,594,269" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="597,202,696,291" style="outline:none;" target="_self"     />
<area shape="rect" coords="696,450,698,452" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
</map>

</body>
</html>